* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$theme-colors: (
    "primary": #0d6efd,
    "success": #198754,
    "info": #0dcaf0,
    "warning": #ffc107,
    "danger": #dc3545,
    "white": #eeefef,
    "light": #befdcd,
    "black": #090707,
);

body {
    background-color: #eeefef !important;
}

#root {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.pr-1 {
    padding-right: 0.25rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pr-3 {
    padding-right: 0.75rem;
}

.pr-4 {
    padding-right: 1rem;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pl-3 {
    padding-left: 0.75rem;
}

.pl-4 {
    padding-left: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

@import '../node_modules/bootstrap/scss/bootstrap';
