:root {
    --primary: #cce3de;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mx-25 {
    margin-left: 25%;
    margin-right: 25%;
}

$theme-colors: (
    "primary": #cce3de,
    "secondary": #0a8754,
    "white": #b9d7c6,
    "light": #a4c3b2,
    "black": #090707,
);

body {
    background-color: var(--primary) !important;
}

@import '../node_modules/bootstrap/scss/bootstrap';
