:root {
    --primary: #cce3de;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mx-25 {
    margin-left: 25%;
    margin-right: 25%;
}

$theme-colors: (
    "primary": #0d6efd,
    "success": #198754,
    "info": #0dcaf0,
    "warning": #ffc107,
    "danger": #dc3545,
    "white": #b9d7c6,
    "light": #a4c3b2,
    "black": #090707,
);

body {
    background-color: var(--primary) !important;
}

@import '../node_modules/bootstrap/scss/bootstrap';
